body { 
  height: 100vh;
  background-image: url(https://beiz.jp/images_L/japanese-paper/japanese-paper_00183.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}
a {
  text-decoration: none;
  color:inherit;
  font-size: 24px;
}
input {
  border: none;
}
.preview {
  background-color: brown;

}
.viewResipe {
  text-align: center;
  margin: 50px 80px;
  font-size: 18px;
  font-family: serif;
}

.category {
  float: left;
  padding-left: 120px;
}
.name {
  float: none;
  padding-top: 30px;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 14px;
}
.pic img {
  float: left;
  padding: 40px;
  width: 550px;
  height: 400px;
}
.team {
  text-align: left;
}
.quantityTitle {
  float: right;
  padding-top: 50px;
  padding-right: 70px;
  font-weight: bolder;
}
.foodsTitle {
  font-weight: bolder;
  padding-top: 50px;
  padding-left: 20px;
}
.foods {
  float: left;
}
.quantity {
  text-align: right;
  margin-right: 80px;
}
.howTo {
  float: left;
}
.btn-newResipe {
  text-align: center;
  font-size: 16px;
  padding-top: 100px;
  padding-bottom: 80px;
}
.btn-back, .btn-create {
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(175, 226, 255);
  width: 200px;
  height: 50px;
  font-family: serif;
  border: none;
  border-radius: 20px;
  box-shadow: 
    13px 13px 26px #dbdbdbe1,
    -13px -13px 26px white;
}
